.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 400px;
    width: 75%;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0.5em;
    width: 100%;
    align-items: center;
}

.button {
    width: 150px;
    margin: auto;
}

.table {
    border-collapse: collapse;
    margin: 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
}

.table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.copy-button {
    margin-top: 20px;
    margin-left: 110px;
    width: 100%;
}